body {
    background-color: grey;
}

.container {
    padding-top: 20vh;
}

button {
    padding: 15px;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
    background-color: rgb(203 213 225);
}
